body, html {
    background-image: url('https://us.123rf.com/450wm/almagami/almagami1612/almagami161200133/69076066-padr%C3%A3o-de-waffle-teste-padr%C3%A3o-sem-emenda-neutro-branco-para-o-projeto-moderno-no-estilo-liso-fundo.jpg?ver=6');
    height: 100%;
}

#profile-img {
    height: 180px;
}

.h-80 {
    height: 80% !important;
}
